.mainEp2{
    background: ghostwhite;
    height: 700px;
    width: 100%;
    margin-top: -3px;
}
h2{
    padding-top: 50px;
    font-size: 35px;
}
.item-ep2{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}
.button11{
    color: black;
    margin-top: 500px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 15px;
}
.button11:hover{
    color: #fff;
    margin-top: 500px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: black;
    border-radius: 20px;
    padding-top: 15px;
    cursor: pointer;
}