.mainEp1{
    display: inline-block;
    background: black;
    height: 670px;
    width: 100%;
    margin-top: -3px;
}
.item-ep1{
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
.button1{
    color: #fff;
    margin-top: 550px;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding-top: 15px;
}
.button1:hover{
    color: black;
    margin-top: 550px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 15px;
    cursor: pointer;
}