.mainEp3{
    display: inline-block;
    background: black;
    height: 670px;
    width: 100%;
    margin-top: -3px;
}
.mainEp3 h2{
    color: #fff;
}
.item-ep3{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}
