*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: black;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    padding-top: 35px;
    cursor: pointer;
}
.menu ul li{ 
    display: inline-block;
    padding-top: 40px;
    padding-left: 50px;
    font-size: 14px;
}
.user li{ 
    display: inline-block;
    padding-top: 40px;
    padding-right: 60px;
    font-size: 14px;

}
.user li:hover{ 
    display: inline-block;
    padding-top: 40px;
    padding-right: 60px;
    font-size: 14px;
}