
.sidebar{
    display: flex;
    padding-top: 170px;
    padding-left: 50px;
    margin-left: 50px;
    width: 200px;
    float: left;
    /* background-color: chocolate; */
}
.sidebar ul li{
    font-size: 14px;
    list-style: none;
    letter-spacing: 5px;
    line-height: 40px;
    font-weight: 400;
    
}
.content-shop{
    width: 1150px;
    float: left;
    padding-bottom: 50px;
    /* background-color: chartreuse; */
}
.content-shop p{
    font-size: 36px;
    text-align: center;
    padding-top: 70px;
    font-weight: 220;
}
.item-shop1 img{ 
    height: 300px;
    width: 240px;
}