.footer{
    display: flex;
    padding-left: 100px;
    justify-content: center;
    height: 300px;
}
.menu-footer ul li{
    font-size: 14px;
    list-style: none;
    letter-spacing: 5px;
    line-height: 40px;
    font-weight: 200;
}
.text-about{
    width: 400px;  
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 200;
}
.text-about p{
    margin-top: 20px;
}
.left-box{
    margin-right: 200px;
    margin-top: 60px;
}
.right-box{
    margin-right: 200px;
    margin-top: 60px;
}
.right-box h3{
    padding-bottom: 20px;
}